$color-nav: #F4F3EE;
$color-background: #E5E5E5;
$color-pink: #C32C72;
$color-navtxt: #8D8D8D;
$color-logo: #262626;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans&display=swap');

